@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow&display=swap');
/* Body */
body {
    /* background-image: linear-gradient(to top left, #010007, #5002b6); */
    font-family: 'Open Sans';
    font-size: 16px;;
    color: white;
    /* overflow: hidden; */
    background: linear-gradient(-45deg, #010007, #5002b6, #540636, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

h1, h2, h3 {
    font-family: 'Archivo Narrow';
    font-weight: 1000;
    background: -webkit-linear-gradient(#ffff00, #ff6e02 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    margin: 0 0 10px 0;   
}

h1 {
    font-size: 52px;
}

h2 {
    font-size: 37px;
}

h3 {
    font-size: 30px;
}

a {
    color: #ffff00;
    text-decoration: none;
}

.container {
    height: 100vh;
    /* overflow: hidden; */
    background-image: linear-gradient(to top right, #540636, transparent);
    /* border: solid 1px red;    */
}

/* Header / Logo area */
/* Game Area */
.header{
    width: 900px;
    margin: 0 auto;
    text-align: center;
    /* border: 1px solid red; */
}

.header img{
    height: 300px;
    margin: 50px 0 25px 0;
}

/* Game Area */
.game{
    position: relative;
    display: flex;
    justify-content: center;
    width: 900px;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.wrap {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, .15);  
    backdrop-filter: blur(5px);
    
}
    .wrap-content{
        display: flex;
        flex-direction: row;
        height: 100%;
    }

#clickNPlay{
    cursor: pointer;
}

/*  New Character  */
.arrows {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    height: 100%;
    font-size: 50px;
    color: linear-gradient(#ffff00, #ff6e02 );
    padding: 25px;
    opacity: 0.3;
    /* border: solid 1px red;    */
}

    .arrows:hover{
        opacity: 0.5;
    }

.new-character{
    display: flex;
    height: 100%;
    width: 100%;
    /* border: solid 1px red;    */
}

.character-profile{
    display: flex;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    /* border: solid 1px red;    */
}

    .character-image{
        display: flex;
        width: 50%;
        /* border: solid 1px red; */
    }

        .character-image img{
            height: 80%;
            margin: auto;
        }

    .character-info{
        box-sizing: border-box;
        padding: 35px;
        width: 50%;
        /* border: solid 1px red; */
    }

        .character-info p{
            margin-bottom: 25px;
        }

    .character-select{
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }

        .character-select button {
            height: 30px;
            width: 100%;
            background-color: transparent;
            color: white;
            border: solid 1 px white;
            line-height: 20px;
            font-size: large;
        }

        .character-select button:hover {
            background-image: linear-gradient(#ffff00, #ff6e02);
            color: white;    
        }              

/*  END OF New Character  */


/*  Moves Selection  */
.moves-selection{
    display: flex;
    justify-content: space-evenly;
}

    .moves-selection form .round{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .moves-selection form .round-label{
        
    }

    .moves-selection form .row{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .moves-selection form .selections{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;        
    }

    .moves-selection form label{
        width: 25%;
    }    

    .moves-selection form select{
        appearance: none;
        width: 25%;
        color: white;
        background-color: transparent;
        border: solid 1px white;
    }

    .moves-selection form select option{
        color: white;
        background-color: transparent;
        border: solid 1px white;
    }

    .moves-selection button {
        height: 30px;
        width: 100%;
        background-color: transparent;
        color: white;
        border: solid 1 px white;
        line-height: 20px;
        font-size: large;
    }

    .moves-selection button:hover {
        background-image: linear-gradient(#ffff00, #ff6e02);
        color: white;    
    }    

/*  END OF Moves Selection  */

/* Canvasr */
canvas {
    border-radius: 10px;
}

/*  END OF Canvas  */

/* Footer */
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    margin: 0 auto;
    /* background-color: black; */
    color: #540636;
    /* border: 1px solid red; */
}

/* Micellaneous */

/* Skill info bar */
.skill{
	position:relative;
	margin-bottom:5px;
}
    .skill:last-of-type{
        margin-bottom:0;
    }
    .skill > h4{
        margin-top:0;
        margin-bottom:5px;
        font-weight:500;
        letter-spacing:2px;
        text-transform:uppercase;
        font-size:14px;
    }
    .skill > .bar{
        background:white;
    }
        .skill > .bar > .percent{
            background: -webkit-linear-gradient(#ffff00, #ff6e02 );
            width:10%;
            height:6px;
        }